.accountpopupmain {
  background-color: white;
  width: 190px;
  height: max-content;
  position: fixed;
  z-index: 8;
  top: 70px;
  right: 50px;
  border-radius: 10px;
  padding: 0px 15px;
}

.useraccount {
  height: 40px;
  border-bottom: 1px solid #00000015;
}

.useraccounticon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px;
}

.navpages {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px 0px;
}

.navpageslink {
  text-decoration: none;
  color: black;
  position: relative;
}

.navpageslink:hover {
  font-weight: 600;
}

.arrowicon {
  position: absolute;
  top: 5px;
  right: 5px;
  transition: 0.3s ease-in-out;
}

.navpageslink:hover .arrowicon {
  right: 2px;
}

@media screen and (max-width: 480px) {
  .accountpopupmain {
    background-color: white;
    width: 140px;
    height: max-content;
    position: fixed;
    z-index: 8;
    top: 70px;
    right: 30px;
    border-radius: 10px;
    padding: 0px 15px;
  }
}

@media screen and (max-width: 576px) {
  .accountpopupmain {
    background-color: white;
    width: 140px;
    height: max-content;
    position: fixed;
    z-index: 8;
    top: 70px;
    right: 30px;
    border-radius: 10px;
    padding: 0px 15px;
  }
}
