.postmaincontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-bottom: 20px;
}

.cardscontainer {
  width: 295px;
  height: 355px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  background-color: white;
  margin-bottom: 20px;
}

.cardscontainer:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cardscontainer .username {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cardscontainer .username .icons {
  opacity: 75%;
}

.cardscontainer .username p {
  color: rgb(85, 85, 85);
  font-weight: bold;
}

.cardimage {
  width: 100%;
  height: 165px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.cardcontent {
  width: 100%;
  height: 145px;
  padding: 0px 10px;
  overflow: hidden;
}

.cardtitle {
  font-weight: 500;
  margin-bottom: 10px;
}

.carddescription {
  white-space: break-spaces;
}
